<html>
  <head>
    <script src="../static/js/dashboard.js" defer></script>
    <link rel="stylesheet" href="../static/stylesheets/dashboard.css" />
  </head>
  <body>
    <ul>
      <li>
        <a href="/#home">Home</a>
      </li>
      <li>
        <a href="/dashboard">Dashboard</a>
      </li>
      <li>
        <a href="/minute_level">Minute Level Data</a>
      </li>
    </ul>
    <h1 id="title">MPAS DashBoard</h1>
    <select id="participant-dropdown" name="participants">
      <option value="all">ALL</option>
      {%for item in participants%}
      <option value="{{item}}">{{item}}</option>
      {% endfor %}
    </select>
    <div id="table-container">
      <table id="data-table">
        <thead>
          <tr>
            <th>Participant ID</th>
            <th>Minute Level Data</th>
            <th>Age</th>
            <th>Weight</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>HR Peak</th>
            <th>Current Weather</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </body>
</html>
