<!DOCTYPE html>
<html>

<head>
  <title>Home</title>
  <link rel="stylesheet" href="../static/stylesheets/home.css" />
</head>

<body>
  <main>
    <div class="banner">
      <p class="title">MPAS DASHBOARD</p>
    </div>
      <form action="" method="post" class="login">
      <img src="../static/images/Walkitlogitlogo.png" alt="Walk it log it logo">
        <input type="password" name="password" value="{{ request.form.password }}" placeholder="Password"
          class="password" />
        <input type="submit" value="Login" class="submit" />
      </form>
      {% if error %}
        <p class="">{{ error }}</p>
      {% endif %}
  </main>
</body>

</html>
