<form action = "/participant_details" method="POST">


<select class="dropdown" id="participants" name="participants">
  <option value="all">ALL</option>
  <option value="P1">P1</option>
  <option value="P2">P2</option>
</select> &nbsp &nbsp &nbsp 

<select class="dropdown" id="age" name="age">
  <option value="all">40-50</option>
  <option value="P1">50-55</option>
  <option value="P2">56-60</option>
</select> &nbsp &nbsp &nbsp 

<select class="dropdown" id="sex" name="sex">
  <option value="male">Male</option>
  <option value="female">Female</option>
</select> &nbsp &nbsp &nbsp 

<select class="dropdown" id="race" name="race">
  <option value="american_indian">American Indian or Alaska Native </option>
  <option value="asian">Asian</option>
  <option value="black">Black or African American </option>
  <option value="native">Native Hawaiian or Other Pacific Islander </option>
  <option value="white">White </option>
</select> &nbsp &nbsp &nbsp &nbsp

 <input type="date" name="start_date"> &nbsp &nbsp &nbsp &nbsp
<input type="date" name="end_date"> &nbsp &nbsp &nbsp &nbsp
<a = "/stats"> <input type="submit" name="submit" value="stats">
<br><br><br><br>
</form>