<form action = "/weekly_stats" method="POST">

 PA Stage of Change:&nbsp
<select class="dropdown" id="participants" name="participants">
  <option value="all">ALL</option>
  <option value="P1">P1</option>
  <option value="P2">P2</option>
</select> &nbsp &nbsp &nbsp &nbsp

<select class="dropdown" id="weeks" name="weeks">
  <option value="all">Week1</option>
  <option value="P1">Week2</option>
  <option value="P2">Week3</option>
</select> &nbsp &nbsp &nbsp &nbsp

 <input type="date" name="start_date"> &nbsp &nbsp &nbsp &nbsp
<input type="date" name="end_date"> &nbsp &nbsp &nbsp &nbsp
 <input type="submit" name="submit" value="weeks_summ">
<br><br><br><br>
</form>